<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="googlechrome"/>
    <package id="docker-desktop"/>
    <package id="notepadplusplus"/>
    <package id="7zip"/>
    <package id="vscode"/>
    <package id="git" packageParameters="/NoGuiHereIntegration /WindowsTerminalProfile /DefaultBranchName:main /Editor:VisualStudioCode"/>
    <package id="pwsh" installArguments="ADD_FILE_CONTEXT_MENU_RUNPOWERSHELL=1 ADD_EXPLORER_CONTEXT_MENU_OPENPOWERSHELL=1"/>
    <package id="visualstudio2022community" packageParameters="--locale en-US"/>
    <package id="sql-server-management-studio"/>
    <package id="resharper"/>
    <package id="dotpeek"/>
    <package id="drawio"/>
    <package id="nodejs-lts"/>
    <package id="python3"/>
    <package id="kubernetes-cli"/>
    <package id="kubernetes-helm"/>
    <package id="openssl"/>
    <package id="postman"/>
    <package id="qpdf"/>
</packages>